* {
  margin: 0;
  padding: 0;
  border: 0;
  text-align: center
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: novecento-sans, sans-serif;
  color: #06342F;
  text-align: center;
}

h1 {
  font-size: 42px;
}

p {
  font-family: adobe-caslon-pro, serif;
  margin: 15px 0px;
  line-height: 30px;
  color: #06342F;
  font-size: 20px;
}

/*========================================
*
*           Header
*
*
*=========================================*/

header {
  background: #cbaf87;
  position: fixed;
  left: 0;
  right: 0;
  padding: 0px 0px;
  display: block;
}

.logo-container,
header nav {
    display: inline-block;
}

header nav ul li {
  display: inline;
}

header nav a {
  color: black;
  text-decoration: none;
  font-family: novecento-sans, sans-serif;
  font-weight: semibold;
  font-size: 16px;
  line-height: 0px.
  margin: 0 20px;
}

nav {
  width: 20%;
  margin: 0 auto;
  padding: 10px 0;
}

nav ul li a {
  display: block;
  padding: 2px;
  text-decoration: none;
  margin: 0px;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}

nav ul li a:hover {
  color: #bb834f;
}

nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}

nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #bb834f;
  height: 1px;
}

nav.stroke ul li a:hover:after {
  width: 100%;
}

nav.fill ul li a {
  transition: all 2s;
}

nav.fill ul li a:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}

nav.fill ul li a:hover {
  color: #fff;
  z-index: 1;
}

nav.fill ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}

/*========================================
*
*     Hero Image Section
*
*
*=========================================*/
img.logo {
  width: 110px;
  border-radius: 100px;
  margin: 0px;
}

.hero-image-section {
  padding: 0px 20px 0px;
  text-align: center;
  margin: 0 auto;
  max-width: 900px;
}

/*========================================
*
*     Container
*
*
*=========================================*/

.container {
  margin: 0 auto;
  max-width: 900px;
  padding: 40px 0px;
}

img.resize {
  max-width: 900px;
  max-width: 100%
  max-height:100%;
  padding: 160px 0px 0px;
}

p {
  padding: 25px 50px ;

}

/*========================================
*
*     Button Section
*
*
*=========================================*/

.button a {
  background: #90b6cc;
  font-family: novecento-sans, sans-serif;
  color: #06342F;
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 1px;
}


/*========================================
*
*     Image Section
*
*
*=========================================*/

img.row {
  max-width:30%;
  max-height:30%;
  margin: 0 auto;
  max-width: 240px;
}

img.side {
  padding: 160px 0px 0px;
  margin: 0 auto;
  max-width: 400px;
}

figcaption {
  font-style: adobe-caslon-pro
  font-color: #06342F;
}

/*========================================
*
*     Contact Section
*
*
*=========================================*/

form {
  font-style: adobe-caslon-pro;
}

.containerheading {
  padding: 20px 0 0 0px;
}

.contact-section {
  padding: 100px 0;
  width: 630px;
  margin: 0 auto;
}

.contact {
  margin: 20px 0px;
}

.contact div {
  margin-bottom: 10px;
}

.label_input_wrap {
  vertical-align: top;
  display: block;
}

.contact input,
.contact textarea {
  border: 1px solid black;
  padding: 9px 11px;
}

.submit input {
  background: #90b6cc;
  color: #06342f;
  font-family: "Comfortaa", sans-serif;
  border: none;
  border-radius: 1px;
}

/*========================================
*
*     Footer Section
*
*
*=========================================*/

footer {
  background: #cbaf87;
  left: 0;
  right: 0;
  padding: 10px 0;
}
