* {
  margin: 0;
  padding: 0;
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: novecento-sans, sans-serif;
  color: #06342F;
  text-align: center;
}

p {
  font-family: adobe-caslon-pro, serif;
  margin: 15px 0px;
  line-height: 25px;
  color: #06342F;
}

/*========================================
*
*           Header
*
*
*=========================================*/

header {
  background: #cbaf87;
  position: fixed;
  left: 0;
  right: 0;
  padding: 10px 0px;
}

header nav ul li {
  display: inline;
}

header nav a {
  color: black;
  text-decoration: none;
  font-family: novecento-sans, sans-serif;
  font-weight: semibold;
  font-size: 15px;
  margin: 0 20px;
}

/*========================================
*
*     Hero Image Section
*
*
*=========================================*/

.hero-image-section {
  background-attachment: fixed;
  background-size: cover;
  padding: 0;
  text-align: center;
  margin: 0 auto;
  max-width: 900px
}

/*========================================
*
*     Container
*
*
*=========================================*/


.container {
  margin: 0 auto;
  max-width: 900px;
}

img.resize {
  max-width:100%;
  max-height:100%;
}

p {
  padding: 25px 50px;
}

/*========================================
*
*     Button Section
*
*
*=========================================*/

.button a {
  background: #90b6cc;
  font-family: novecento-sans, sans-serif;
  color: #06342F;
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 1px;
  text-align: center;
}

/*========================================
*
*     Image Section
*
*
*=========================================*/

img.row {
  max-width:30%;
  max-height:30%;
  text-align: center;
  margin: 0 auto;
  max-width: 240px;
    display: block;
    margin-left: auto;
    margin-right: auto }
}

/*========================================
*
*     Footer Section
*
*
*=========================================*/
